[Unit]
Description=Daemon process for receiving SRT stream and sending it to UDP
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/ffmpeg -re -i /home/m_mamontov93/videodemo/a.ts -c:v copy -c:a copy -f mpegts "udp://127.0.0.1:6300?pkt_size=1316"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target